.container {
    display: flex;
    margin-bottom: 10px;
}

#wrapper {
    display: flex;
    margin-bottom: 10px;
}

#container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

input {
    margin-right: 5px;
    margin-left: 5px;
}